body{
    background-color: rgb(240, 218, 195);
}
header {
    text-align: center;
    background-color: rgb(201, 164, 124);    
    color: rgb(0, 0, 0);
}
a{
    color: black;
}
h2{
    background-color: rgb(201, 164, 124);


}
p{
    background-color: rgb(201, 164, 124);
}